// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";
@import "registration";

// Global
body {
  padding-top: 70px;
}

main.container {
  div.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
